.page-template-page-home {
	
	.home-banner {
		background-color: $black;
	}
	
	.hero-bottom {
		position: relative;
		.bg {
			position: absolute;
			top: -17rem;
			bottom: 0;
			left: 0;
			right: 0;
			background-size: cover;
			background-position: 100% 0%;
		}
	}
	
	.img-copy-card {
		position: relative;
		padding-bottom: 5rem;
	}
	
	.find-region {
		.region-nav {
			>li {
				> a {
					display: none;
				}
				>ul {
					position: static;
					display: block;
				}
			}
		}
	}
	
}