.page-template-page-home {
	
	.home-banner {
		background-color: $black;
	}
	
	.hero-bottom {
		position: relative;
		.bg {
			position: absolute;
			top: -17rem;
			bottom: 0;
			left: 0;
			right: 0;
			background-size: cover;
			background-position: 100% 0%;
		}
		.region-link {
			position: relative;
			padding-bottom: 3rem;
			margin-left: -1rem;
		}
	}
	
	.img-copy-card {
		position: relative;
		padding-bottom: 5rem;
	}
	
	.find-region {
		padding-top: 17px;
		margin-top: 4.7rem;
		border-left: 17px solid #000B0F;
		border-right: 17px solid #000B0F;
		h2 {
			transform: translateY(-34px);
		}
		.region-nav {
			width: 100%;
			>li {
				width: 100%;
			}
			>li {
				> a {
					display: none;
				}
				>ul {
					position: static;
					display: flex !important;
					flex-direction: row !important;
					flex-wrap: wrap !important;
					margin-right: -1rem;
					margin-left: -1rem;
					justify-content: center;
					>li {
						margin: 1rem;
						width: auto;
						flex: 0 0 auto;
						max-width: 138px;
						a {
							display: block;
							height: 100%;
							padding: 1rem 0.9rem 0rem;
							border-radius: 5px;
							transition: all .3s ease;
							box-shadow: 0px 0px 0px 0px $medium-gray;
							color: $medium-gray;
						&:hover {
							box-shadow: 0px 0px 10px 0px $medium-gray;
							color: $black;
							span.title {
								border-bottom: 1px solid transparent;
							}
						}
						
							span.icon {
								max-width: 94px;
								img {
									width: 100%;
								}
							}
							
							span.title {
								font-size: rem-calc(15);
								line-height: rem-calc(17);
								font-weight: bold;
								text-transform: uppercase;
								padding-top: 0.8rem;
								padding-bottom: 0.7rem;
								border-bottom: 1px solid #DDDDDD;
								transition: all .3s ease;
							}
							
						}
					}
				}
			}
		}
		.map-wrap {
			padding-bottom: 7.9rem;
		}
	}
	
	.copy-cards {
		position: relative;
		.inner.black-bg {
			background-color: rgba($black, .93);
			padding: 1.8rem 1.9rem;
		}
	}
	
	.pros-slider {
		position: relative;
		overflow: hidden;
		
		button {
			&:after {
				font-size: 0;
			}
		}
		
	}
	
}