.page-template-page-region {
	.banner:before {
		display: none;
	}
	.top {
		padding-bottom: 4.6rem;
	}
	h2 {
		margin-bottom: 1.45rem;
	}
	.lines {
		bottom: 7rem;
	}
	.bio-cards {
		padding-bottom: 1.4rem;
	}
}