.page-template-page-roster {
	.banner {
		margin-bottom: 0;
		position: relative;
	}
	.top {
		.left {
			h2 {
				margin-bottom: 2.7rem;
				@include breakpoint(medium down) {
					text-align: center;
				}
			}
		}
		.right {
			button {
				border-radius: 0;
				height: 89px;
				width: 100%;
				position: relative;
				margin: 0;
				padding-left: 0.9rem;
				svg {
					position: absolute;
					top: 24px;
					right: 16px;
				}
				
			&.open {
				svg {
					transform: rotateX(180deg);
				}
			}
				
			}
			.dropdown-wrap {
				>div {
					position: absolute;
					width: 100%;
					background-color: $white;
					border: 3px solid $black;
					border-top: 0;
					ul {
						padding: 2rem .5rem;
						li {
							a {
								color: $black;
								font-size: rem-calc(20);
							}
						}
					} 
				}
			}
		}
	}
	.entry-content {
		position: relative;
		padding-top: 3.85rem;
		padding-bottom: 6.45rem;
		.left {
			padding-top: 1.85rem;
			.mobile-heading-wrap {
				padding-top: 1.05rem;
				padding-bottom: 0.2rem;
				margin-bottom: 2.2rem;
				border-bottom: 1px solid #ddd;
				h2 {
					letter-spacing: .001rem;
					@include breakpoint(small down) {
					font-size: rem-calc(14);
					line-height: rem-calc(16);
					}
				}
			}
		}
		.coach {
			padding-bottom: 2.15rem;
			@include breakpoint(medium) {
				padding-bottom: 3.15rem;
			}
		&:first-child{
			margin-top: 2.5rem;
		}
			h3,
			p {
				margin: 0;
			}
			h3 {
				text-transform: none;
			}
		}
		.table-wrap {
			padding: 0;
			border: 0;
			table.tablepress {
				border-color: $black;
				font-size: rem-calc(12);
				line-height: rem-calc(12);
				letter-spacing: 0.6px;
				@include breakpoint(medium) {
					font-size: rem-calc(21);
					line-height: rem-calc(25);
				}
				thead {
					@include breakpoint(medium) {
						font-size: rem-calc(27);
						line-height: rem-calc(38);
						letter-spacing: 2.7px;
					}
					border-left: 0;
					border-right: 0;
					th {
						padding: 0.7rem 0.7rem 0.25rem .07rem;
						font-weight: bold;
						font-family: $font-jockey;
						text-transform: uppercase;
						color: $black;
						letter-spacing: 2.7px;
						@include breakpoint(medium) {
							padding: 4.15rem 1.15rem .85rem;
						}
					}
				}
				tbody td {
					font-size: rem-calc(12);
					line-height: rem-calc(12);
					padding: 1.4rem .7rem 1rem .07rem;
					@include breakpoint(medium) {
						font-size: rem-calc(21);
						line-height: rem-calc(25);
						padding: 3.2rem 1.07rem 1.4rem;
					}
				}
			}
		}
	}
}