header.site-header {
	z-index: 555;
	transition: transform .5s ease;
	
	.top-bar-wrap {
		background-color: $topbar-background;
	}
	
	#top-bar-menu {
		align-items: flex-start;
		@include breakpoint(tablet) {
			height: 182px;
		}
		
		.top-bar-left {
			max-width: 160px;
			
			@include breakpoint(medium) {
				max-width: 100%;
			}
			
		}
		
		li.logo {
			padding-top: 4.5rem;
			width: 102px;
			height: 102px;
			a {
				padding: 0;
				display: inline-block;
				position: relative;
			    top: -20px;
			}			
		}
			
		.region-nav,
		#main-nav {
			align-items: center;
			>li {
				margin: 0 .3rem 1rem;
				
				> a {
					font-family: $font-jockey;
					color: $text-gray;
					font-size: rem-calc(21);
					text-transform: uppercase;
					letter-spacing: 2.1px;
					padding: 1.78rem 0.5rem;
					position: relative;
					
					@include breakpoint(large) {
						font-size: rem-calc(14);
						letter-spacing: 1.4px;
					}
					
					span {
						&:before {
							content: '';
							width: calc(100% - 1rem);
							position: absolute;
							top: 0;
							height: 11px;
							background-color: transparent;
						}
					}
					
				&:hover {

				}
					
				}
				
			&.is-active,
			&.current-menu-ancestor {
				span:before {
					background-color: $brand-blue;
				}
			}
				
			&.menu-item-has-children {
				
				ul.submenu {
					li {
						a {

							
						&:hover {

						}
							
						}
						
					}
				}
	
			}
							
			}
		}
		
		.region-nav {
			position: static;
			>li {
				position: static;
			}
			
			.menu.submenu.is-dropdown-submenu {
				display: flex;
				flex-direction: row;
				align-items: flex-start;
				justify-content: flex-end;
				top: 70px;
				left: 140px;
				
				li {
					padding-right: 0.9375rem;
					padding-left: 0.9375rem;
					flex: 0 0 auto;
					width: auto;
					a {
						color: $medium-gray;
						padding: 0;
						font-size: rem-calc(9);
						letter-spacing: .9px;
						line-height: rem-calc(11);
						
						span {
							max-width: 60px;
							
							&.title {
								display: none;
								font-weight: bold;
								text-transform: uppercase;	
							}
							
						}
						
						svg,
						img {
							width: 39px;
							height: auto;	
						}	
					}

				&.active,	
				&.current-page-ancestor,
				&:hover {
					span.title {
						display: block;
					}
				}					
					
				}
				
			&.js-dropdown-active {
			}
				
			}
			
		}
		
		.menu-toggle-wrap {
		    width: auto;
		    flex: 0 0 auto;
		    
		    a#menu-toggle {
			    padding: 0;
			    width: 36px;
			    height: 36px;
			    position: relative;
			    
			    span {
				    position: absolute;
				    left: 0;
				    right: 0;
				    width: 36px;
				    height: 4px;
				    background-color: $white;
				    
				    &:nth-child(1) {
					    top: 4px;
				    }

				    &:nth-child(2) {
					    top: 16px;
				    }
				    
				    &:nth-child(3) {
					    bottom: 4px;
				    }
				    				    
			    }
			    
		    }
		    
		}
	
	}
	
}