button,
.button,
h1,
.h1,
h2,
.h2 {
	text-transform: uppercase;
}

h3,
.h3 {
	font-weight: bold;
	font-family: $font-league;
	color: $brand-blue;
	text-transform: uppercase;
	line-height: 1.03;
}

.color-white {
	h1,
	.h1,
	h2,
	.h2,
	p,
	.p
	ul {
		color: $white;
		&.color-white {
			color: $white;
		}		
	}
}