// Fonts
@font-face{
font-family:"VTF League W05 Bold";
src:url("../fonts/6327559/d556c18c-3e71-4b65-a902-4ae24f7f7607.woff2") format("woff2"),url("../fonts/6327559/badce717-fd22-4fe0-81a9-553045855269.woff") format("woff");
}

$font-league: "VTF League W05 Bold";