.team-card,
.team-reveal {
	
	.photo-wrap {
		position: relative;
		padding: 0 20px;
		margin-bottom: 1.78rem;
		
		svg {
			position: absolute;
			left: 0;
			bottom: 0;
		}
		
	}
	
	.img-wrap {
		width: 147px;
		height: 147px;
		position: relative;
		overflow: hidden;
		box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.16);
		
		img {
			position: absolute;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}

	}
	
	h3 {
		margin-bottom: -2px;
	}
	
	.btn-wrap {
		padding-top: 0.25rem;
	}
	
}

.team-card {
	margin-bottom: 2.5rem;
}

.team-reveal {
	.photo-title {
		padding: 54px 53px 46px;
	}
	.text-wrap {
		padding: 0 53px 66px;
	}
}

