.img-copy-card  {
	position: relative;
	padding-bottom: 7.9rem;
	.inner {
		@include breakpoint(tablet) {
			justify-content: flex-end;
			padding-bottom: 52px;
		}
	}
	.quote-mark {
		font-family: $font-jockey;
		color: $brand-blue;
		font-size: rem-calc(200);
		line-height: 1;
		position: absolute;
		top: 40px;
	}
	.left {
		position: relative;
		z-index: 2;
		right: -1rem;
		
		@include breakpoint(medium down) {
			margin-bottom: -7rem;
		}
		
		@include breakpoint(tablet) {
			position: absolute;
			right: -1rem;
			padding-bottom: 4rem;
		}
		
		.img-wrap {
			position: relative;
			
			@include breakpoint(large) {
				margin-left: -3%;
			}
			
			img {
				display: block
			}
			
		&:after {
			content: '';
			@include absolute-cover;
			top: 50%;
			background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,160,221,1) 100%);
		}
			
		}
	}
	.right {
		position: relative;
		z-index: 1;
		padding-top: 3.4rem;
		padding-bottom: 2.5rem;
		
			@include breakpoint(medium down) {
				padding-top: 9.35rem;
				padding-left: 2rem;
				padding-right: 2rem;
			}
				
			@include breakpoint(tablet) {
				transform: translateY(52px);
			}
			
		.text-wrap {
			@include breakpoint(large) {
				padding-right: 3%;
			}
		}
		
		svg.thin-stripes {
			position: absolute;
			left: 100%;
			right: 0;
			bottom: 0;
		}
		
		@include breakpoint(tablet) {
			&:after {
				content: '';
				@include absolute-cover;
				left: -71px;
				right: -71px;
				background-color: $black;
				z-index: -1;
			}
		}
		
		.btns-wrap {
			padding-top: 1.25rem;
			@include breakpoint(medium) {
				padding-top: 2.15rem;
			}
		}
		
	}
	
&.img-left {
	.left {
		@include breakpoint(medium down) {
			right: auto;
			left: -1rem;
		}
	}
}
	
&.type-quote {
	.left {
		@include breakpoint(medium down) {
			margin-bottom: 0;
			.img-wrap {
				position: relative;
				&:before {
					content: '';
					position: absolute;
					z-index: -1;
					left: -2rem;
					right: -2rem;
					height: 50%;
					bottom: 0;
					background-color: $black;
				}
			}
		}
	}
	.right {
		.text-wrap {

			padding-bottom: 1.45rem;
			@include breakpoint(tablet) {
				padding-top: 5rem;
			}
			p {
				font-size: rem-calc(24);
				line-height:  rem-calc(38);
				margin-bottom: 2rem;
			}
			citation {
				font-size: rem-calc(18);
				line-height:  rem-calc(34);
				color: $dark-gray;
			}
		}
	}
}
	
}