.img-copy-card  {
	position: relative;
	padding-bottom: 7.9rem;
	overflow: hidden;
	.inner {
		@include breakpoint(tablet) {
			justify-content: flex-end;
			padding-bottom: 52px;
		}
	}
	h2 {
		letter-spacing: 2.3px;
		line-height: .978;
		margin-bottom: 1.8rem;
	}
	.quote-mark {
		font-family: $font-jockey;
		color: $brand-blue;
		font-size: rem-calc(200);
		line-height: 1;
		position: absolute;
		top: 40px;
	}
	.left {
		position: relative;
		z-index: 2;
		
		.img-wrap {		
			position: relative;	
			@include breakpoint(medium down) {
				max-width: 700px;
			}
			img {
				display: block;
			}
			
		&:after {
			content: '';
			@include absolute-cover;
			top: 50%;
			background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,160,221,1) 100%);
		}
			
		}
	}
	.right {
		position: relative;
		z-index: 1;
		padding-top: 3.4rem;
		padding-bottom: 2.5rem;
		
			@include breakpoint(medium down) {
				padding-top: 9.35rem;
				padding-left: 2rem;
				padding-right: 2rem;
			}
				
			@include breakpoint(tablet) {
				transform: translateY(52px);

				&:after {
					content: '';
					@include absolute-cover;
					left: -71px;
					right: -8.25rem;
					background-color: $black;
					z-index: -1;
				}
			}
			
		.text-btns-svg-wrap {
			position: relative;
		}
			
		.btns-wrap {
			position: relative;
			z-index: 1;
			padding-top: 1.25rem;
			@include breakpoint(medium) {
				padding-top: 2.15rem;
			}
		}
		
	}
&.image-left {
	.left {
		padding-left: 0;
		.img-wrap {
			position: relative;
			@include flush-left;
		}
		@include breakpoint(medium down) {

		}
	}
	.text-btns-wrap {
		@include breakpoint(large) {
			padding-left: 5%;
		}
	}
		
	svg.thin-stripes {
		position: absolute;
		right: -1rem;
		bottom: 0;
		@include breakpoint(tablet) {
			left: -10rem;
			right: auto;
	
		}
	}
}

&.image-right {
	.left {
		display: flex;
		justify-content: flex-end;
		padding-right: 0;
		.img-wrap {
			@include flush-right;
		}
		@include breakpoint(medium down) {
			margin-bottom: -7rem;
		}
		
		@include breakpoint(tablet) {
			
		}
	
	}
	.right {
		@include breakpoint(tablet) {
			&:after {
				right: -71px;
				left: -8.25rem;
			}
		}
		.text-btns-wrap {
			@include breakpoint(large) {
				padding-right: 5%;
			}
		}
	}
	svg.thin-stripes {
		position: absolute;
		right: -1rem;
		bottom: 0;
		@include breakpoint(tablet) {
			left: auto;
			right: -10rem;
	
		}
	}
}	

	
&.type-quote {
	.left {
		@include breakpoint(medium down) {
			margin-bottom: 0;
			.img-wrap {
				position: relative;
				&:before {
					content: '';
					position: absolute;
					z-index: -1;
					left: -2rem;
					right: -2rem;
					height: 50%;
					bottom: 0;
					background-color: $black;
					@include flush-left;
				}
			}
		}
	}
	.right {
		.text-wrap {

			padding-bottom: 1.45rem;
			@include breakpoint(tablet) {
				padding-top: 5rem;
			}
			p {
				font-size: rem-calc(24);
				line-height:  rem-calc(38);
				margin-bottom: 2rem;
			}
			citation {
				font-size: rem-calc(18);
				line-height:  rem-calc(34);
				color: $dark-gray;
			}
		}
	}
}
	
}